<body>
  <!--Wrapper-->
  <section class="main-content">
    <!-- Here starts the sidebar -->
    <div class="wrapper">
      <!-- Sidebar Holder -->
      <nav id="sidebar">
        <!-- Logo -->
        <a href="{{site.baseurl}}"><img src="{{site.baseurl}}{{site.logo}}" class="logo" /></a>
        <!-- Toggle button -->
        <ul class="list-unstyled components">
          <!-- Home -->
          <li>
            <a href="#home" data-toggle="collapse" aria-expanded="false">Home</a>
            <ul class="collapse list-unstyled" id="home">
              <li><a href="{{ "pages/home/intro/#home" | relative_url }}">Intro</a></li>
              <li><a href="{{ "pages/home/what_is_claudio/#home" | relative_url }}">What is Claudio?</a></li>
              <li><a href="{{ "pages/home/how_does_claudio_work/#home" | relative_url }}">How does Claudio work?</a></li>
              <li><a href="{{ "pages/home/what_makes_claudio_unique/#home" | relative_url }}">What makes Claudio unique?</a></li>
              <li><a href="{{ "pages/home/who_is_claudio_for/#home" | relative_url }}">Who is Claudio for?</a></li>
              <li><a href="{{ "pages/home/what_s_under_the_hood/#home" | relative_url }}">What’s under the hood?</a></li>
            </ul>
          </li>
          <!-- Deployment -->
          <li>
            <a href="#deployment" data-toggle="collapse" aria-expanded="false">Deployment</a>
            <ul class="collapse list-unstyled" id="deployment">
              <li><a href="{{ "pages/deployment/deployment_options/#deployment" | relative_url }}">Deployment Options</a></li>
            </ul>
          </li>
      <!-- Here starts the Main -->
      <div id="main">
        {{ content }}
        <!-- Here ends the Main -->
</body>
