<body>
<!--Wrapper-->
<section class="main-content">
    <!-- Here starts the sidebar -->
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <!-- Logo -->
            <a href="{{site.baseurl}}"><img src="{{site.baseurl}}{{site.logo}}" class="logo"/></a>
            <!-- Toggle button -->
            <ul class="list-unstyled components">
                <li>
                    <a href="#what_why_when" data-toggle="collapse" aria-expanded="false">What, why, when</a>
                    <ul class="collapse list-unstyled" id="what_why_when">
                        <li><a href="{{ "pages/what_why_when/what_is_it/#what_why_when" | relative_url }}">What is it</a></li>
                        <li><a href="{{ "pages/what_why_when/why_we_built_it/#what_why_when" | relative_url }}">Why we built it</a></li>
                        <li><a href="{{ "pages/what_why_when/when_to_use_it/#what_why_when" | relative_url }}">When to use it</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ "pages/getting_started/getting_started/#getting_started" | relative_url }}">Getting started</a>
                </li>
                <li>
                    <a href="#use_cases" data-toggle="collapse" aria-expanded="false">Use cases</a>
                    <ul class="collapse list-unstyled" id="use_cases">
                        <li><a href="{{ "pages/use_cases/bridges_monitoring/#use_cases" | relative_url }}">Bridges monitoring</a></li>
                        <li><a href="{{ "pages/use_cases/tunnels_monitoring/#use_cases" | relative_url }}">Tunnels monitoring</a></li>
                        <li><a href="{{ "pages/use_cases/fan_monitoring/#use_cases" | relative_url }}">Fan monitoring</a></li>
                        <li><a href="{{ "pages/use_cases/sewers_monitoring/#use_cases" | relative_url }}">Sewers monitoring</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ "pages/customers/customers" | relative_url }}">Customers</a>
                </li>
                <li>
                    <a href="{{ "pages/installation/installation" | relative_url }}">Installation</a>
                </li>
                <li>
                    <a href="{{ "pages/architecture/architecture" | relative_url }}">Architecture</a>
                </li>
                <li>
                    <a href="{{ "pages/partners/partners" | relative_url }}">Partners</a>
                </li>
                <li>
                    <a href="{{ "pages/about_us/about_us" | relative_url }}">About us</a>
                </li>
            </ul>
        </nav>
        <!-- Here starts the Main -->
        <div id="main">
            {{ content }}
            <!-- Here ends the Main -->
</body>
